.StackedBarChart {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 60px;
    align-items: center
}

.StackedBarChart-Chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 60px;
    max-width: 500px;
}

.StackedBarChart-Title {
    margin: 0;
}

.StackedBarChart-Columns {
    margin: 0;
    width: 80px;
}

.StackedBarChart-Column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StackedBarChart-Column_front {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4ab6e8;
    text-align: center;
}

.StackedBarChart-Column_back {
    background-color: #aa6fac;
    text-align: center;
}

.StackedBarChart-Column_db {
    background-color: #e85498;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.StackedBarChart-Image {
    height: auto;
}

svg {
    height: 100%;
}
