.Footer {
    display: flex;
    color: #898290;
    gap: 25px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.Footer-Legend {
    display: flex;
    align-content: center;
    gap: 5px;
    align-items: center;
}

.Footer-ColoredSquare {
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.Footer-ColoredSquare_color_blue {
    background-color: #4ab6e8;
}

.Footer-ColoredSquare_color_violet {
    background-color: #aa6fac;
}

.Footer-ColoredSquare_color_pink {
    background-color: #e85498;
}
