.StackedBarChart {
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 50px;
    align-items: center;
    font-weight: 700;
    color: #fff;
    font-size: 14px;

}

.StackedBarChart-Chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 50px;
    max-width: 500px;
}

.StackedBarChart-Title {
    margin: 0;
}

.StackedBarChart-Columns {
    margin: 0;
    width: 80px;
}

.StackedBarChart-Column {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.StackedBarChart-ColumnTitle {
    color: #898290;
    text-align: center;
    margin-top: 10px;
}

.StackedBarChart-Image {
    height: auto;
}

.StackedBarChart-Icon {
    position: absolute;
    top: 0;
    left: 0;
}

.StackedBarChart-NormativeValue {
    display: inline-block;
    padding: 6px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 45%;
    color: #898290;
}

.StackedBarChart-Column_normative {
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 8px, #4ab6e8 8px, #4ab6e8 20px);
    border-radius: 10px;
}


.StackedBarChart-Footer {
    display: flex;
    color: #898290;
    gap: 25px;
}
